<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
<div>
  <ion-card>
    <img src="../../assets/img/mainpage2.jpg" class="musicimage"/>
    <ion-card-header>
      <div class="music-title"><ion-card-title>Music</ion-card-title></div>
      
      <ion-card-subtitle>Music gets you in the groove and makes you want to move. Here are some list of music to enjoy your workout routine</ion-card-subtitle>
    </ion-card-header>
  <div class="music-button">
  <ion-button fill="clear">Go to Music</ion-button>
  </div>
  <ion-tab-button tab="tab2">
    <ion-icon name="arrow-forward-outline"></ion-icon>
  </ion-tab-button>
</ion-card>
</div>

<div style="width: 100%; border-top: 1px solid #d4d4d4; margin: 8px 0;">
<ion-card>
  <img src="../../assets/img/mainpage2subtitute.jpg" class="workoutimage"/>
  <ion-card-header>
    <div class="workout-title"><ion-card-title>Work out Difficulties</ion-card-title></div>
    <ion-card-subtitle>Continuing even you struggle is the meaning of resilience. Here are some workout routine you can choose from depending to intensity you want</ion-card-subtitle>
  </ion-card-header>
  <div class="workout-button">
<ion-button fill="clear">go to WorkOut page</ion-button>
  </div>
<ion-tab-button tab="tab3">
  <ion-icon name="arrow-forward-outline"></ion-icon>
</ion-tab-button>

</ion-card>
</div>
</ion-content>