<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">About us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="about-section">
    <h1>About the Developers</h1>
    <div class="about-text">
    <p>We are Information Technology students from Pamantasan ng Lungsod ng Valenzuela. We are currently 3rd year college students focusing on developing an ionic application called ConBody, a fitness application.</p>
    </div>
  </div>
  <div class="con-text" style="width: 100%; border-top: 1px solid #d4d4d4; margin: 8px 0;">
  <h2 style="text-align:center">ConBody Developers</h2>
</div>
  <div class="row">
    <div style="width: 100%; border-top: 1px solid #d4d4d4; margin: 8px 0;">
      <ion-card>
        <img src="../../assets/img/raph.jpg" class="raph"/>
        <ion-card-header>
          <div class="workout-title"><ion-card-title>Raphael G. Bartolome</ion-card-title></div>
          <ion-card-subtitle>Hi, I'm Raphael Bartolome, 20 years old. I am a 3rd year BSIT student at PLV. I am aspiring to be a web developer or database administrator someday.</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
      </div>
  
      <div style="width: 100%; border-top: 1px solid #d4d4d4; margin: 8px 0;">
        <ion-card>
          <img src="../../assets/img/kent.jpg" class="kent"/>
          <ion-card-header>
            <div class="workout-title"><ion-card-title>Kent Russel C. Payumo</ion-card-title></div>
            <ion-card-subtitle>Hi, I'm Kent Russel C. Payumo, 20 years old. I am currently a 3rd year college student taking BS in Information Technology at Pamantasan ng Lungsod ng Valenzuela. Specializing in hardware side of IT especially network and cloud infrastructure and I am aspiring to be a network engineer someday.</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
        </div>
  </div>
</ion-content>
