<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <ion-title class="toolbar-title"> Music </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-avatar class="logo"><img src="../../assets/img/conbodylogo.png"/></ion-avatar>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">B</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic4.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Believer
                <ion-row class="artistname"
                  >Imagine <br />
                  Dragons
                  <div class="duration">3:37</div></ion-row>
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon name="play-circle-outline" class="play-button"></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic1.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Best of me
                <ion-row class="artistname"
                  >Neffex
                  <div class="duration">3:59</div></ion-row>
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">C</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic2.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Champion
                <ion-row class="artistname"
                  >Chip
                  <div class="duration">4:03</div></ion-row
                >
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">D</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic1.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Destiny
                <ion-row class="artistname"
                  >Neffex
                  <div class="duration">3:27</div></ion-row>
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">G</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic6.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Gym Music
                <ion-row class="artistname"
                  >LoudKult
                  <div class="duration">9 hrs</div></ion-row>
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">H</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpicc1.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Hall of Fame
                <ion-row class="artistname"
                  >The <br />Script
                  <div class="duration">3:54</div></ion-row>
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">I</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic3.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                In my bones
                <ion-row class="artistname"
                  >The Score
                  <div class="duration">2:51</div></ion-row>
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label class="alphabetical">R</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>
        <ion-chip>
          <ion-grid>
            <ion-row>
              <ion-col size="3.5">
                <img src="../../assets/img/musicpic5.jpg" class="img" />
              </ion-col>
              <ion-col class="musicname" size="5">
                Running Music
                <ion-row class="artistname"
                  >LoudKult
                  <div class="duration">5 hrs</div></ion-row
                >
              </ion-col>
              <ion-col size="3.5">
                <ion-tab-button>
                  <ion-icon
                    name="play-circle-outline"
                    class="play-button"
                  ></ion-icon>
                </ion-tab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-chip>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
