
<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-title">Beginner Exercises</ion-title>
    <ion-searchbar placeholder="Search Exercise"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-card class="ioncard2">
        <img src="../../assets/img/beginnercardio1.gif" class="image1"/>
        <ion-card-header>
          <ion-card-title>Burpees</ion-card-title>
          <ion-card-subtitle>(5 mins)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ioncard2">
        <img src="../../assets/img/beginnercardio1.gif" class="image1"/>
        <ion-card-header>
          <ion-card-title>Burpees</ion-card-title>
          <ion-card-subtitle>(5 mins)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card class="ioncard2">
        <img src="../../assets/img/beginnercardio1.gif" class="image1"/>
        <ion-card-header>
          <ion-card-title>Burpees</ion-card-title>
          <ion-card-subtitle>(5 mins)</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>
  </ion-slides>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label class="labels">
            Cardiovascular Exercises for Beginners
          </ion-label>
        </ion-item-divider>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnercardio1.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Burpees</ion-card-title>
                    <ion-card-subtitle>(5 mins)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnercardio2.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Jump Rope</ion-card-title>
                    <ion-card-subtitle>(5 mins)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnercardio3.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Jumping Jacks</ion-card-title>
                    <ion-card-subtitle>(5 mins)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnercardio4.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Squat<br>Jumps</ion-card-title>
                    <ion-card-subtitle>(5 mins)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnercardio5.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Single Leg Stand</ion-card-title>
                    <ion-card-subtitle>(5 mins)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnercardio6.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Jog in<br>place</ion-card-title>
                    <ion-card-subtitle>(5 mins)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label class="labels">
            Chest Exercises for Beginners
          </ion-label>
        </ion-item-divider>
        <!-----------------------------------------CHEST------------------------------------------------------------>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnerchest1.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Pushup</ion-card-title>
                    <ion-card-subtitle>(8 reps, 3 sets)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnerchest2.gif" class="image2"/>
                  <ion-card-header>
                    <ion-card-title>Bench Press</ion-card-title>
                    <ion-card-subtitle>(8 reps, 3 sets)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnerchest3.gif" class="image1"/>
                  <ion-card-header>
                    <ion-card-title>Cable chest press</ion-card-title>
                    <ion-card-subtitle>(1-6 reps, 3-5 sets)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
              <ion-col>
                <ion-card class="ioncard1">
                  <img src="../../assets/img/beginnerchest4.gif" class="image2"/>
                  <ion-card-header>
                    <ion-card-title>Cable crossover</ion-card-title>
                    <ion-card-subtitle>(6-12 reps, 3-4 sets)</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item-group>
    </ion-list>
    
</ion-content>
